body { margin:0; font-family: Arial, sans-serif; background: #6a0dad;}
header { position: fixed; top:0; left:0; width:100%; background:#6a0dad; color:#fff; text-align:center; z-index:500; cursor:pointer; }
.spacer { height:50px; }

.banner-cinza {
  background: 
    linear-gradient(rgba(250, 200, 250, 0.5), rgba(250, 200, 250, 0.5)),
    url('banner.jpg') center/cover no-repeat;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}
.titulo-banner {
  font-size:100px;
  font-weight: 750;
  color:#6a0dad;
  margin-bottom:10px;
}
.subtitulo-banner {
  font-size:25px;
  color:#000;
  margin-bottom:25px;
}

.btn-denuncie {
  display: inline-block;
  width: 175px;
  height: 175px;
  line-height: 150px;
  background: #6a0dad;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}
.btn-denuncie:hover {
  background: #500a8c;
}

.btn-submit {
  display: inline-block;
  padding: 12px 20px;
  background: #6a0dad;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.btn-submit:hover {
  background: #500a8c;
}

.banner-preto { background:#000; color:#fff; padding:10px; text-align:center; }
.banner-preto h2 { font-size:25px; font-weight:bold; margin-bottom:20px; }
#mapa { width:100%; height:500px; }

.banner-roxo { background:#6a0dad; color:#fff; padding:10px 10px; text-align:center; }
.banner-roxo h2 { font-size:25px; font-weight:bold; margin-bottom:10px; }
.banner-roxo p { font-size:15px; max-width:500px; margin:0 auto; }

.modal { display:none; position:fixed; z-index:500; left:0; top:0; width:100%; height:100%; overflow:auto; background:rgba(0,0,0,0.5); }
.modal-content { background:#fff; margin:auto; padding:50px; border-radius:10px; max-width:500px; position:relative; }
.modal-content h2 {
  text-align: center;     
  font-size: 25px;        
  font-weight: bold;      
  color: #6a0dad;         
  margin-bottom: 25px;   
}

.close { position:absolute; right:10px; top:10px; font-size:25px; font-weight:bold; cursor:pointer; }
.close:hover { color:#6a0dad; }

form label { display:block; margin-bottom:10px; }
form input, form select, form textarea { width:100%; padding:10px; border-radius:5px; border:1px solid #ccc; }
form label input[type="checkbox"]
form label[for="anonima"],
form label input[type="checkbox"] {
  display: inline-flex;
  align-items: center;
  width: auto;
}

#acompanhamentoContainer {
  text-align: center; 
  margin: 15px 0;
}

#acompanhamentoRadios {
  display: inline-flex; 
  gap: 20px;         
  margin-top: 5px;
  justify-content: center; 
}

.btn-submit {
  display: block; 
  margin: 20px auto 0;   
}